.c-hacker-news__header {
  background-color: #bbbbea;
  padding: 1.5rem;
  color: white;
  -webkit-text-stroke: 1px #554ba0;
}

/* *************** */

/* Landing  */

/* *************** */

.b-landing {
  padding: 1.5rem;
  font-family: Lobster;
}

.b-landing__subwrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.b-landing__category {
  width: 300px;
  cursor: pointer;
  margin: 1rem;
  position: relative;
}

.b-landing__category-title {
  position: absolute;
  font-size: 5rem;
  color: white;
  top: 0px;
  left: calc(1rem + 3vw);
}
