/* *************** */

/* Hacker News  */

/* *************** */

.c-hacker-news {
  background-color: #34495e;
}

.c-hacker-news__header {
  padding: 1.5rem;
  font-family: Pacifico;
  color: #956767;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 17px;
}

/* *************** */

/* Browser  */

/* *************** */


.c-hacker-news__browser {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}

