@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url('./static/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url('./static/fonts/Lobster-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #34495e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
