html, body {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 1.05rem;
}

h1 {
  margin: 0;
}

#root, .App {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  display: block;
}
